*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
   /* background-color: #5883fa;*/
   background-image: linear-gradient(to right, #3931af, #00c6ff);
   
}
.image{
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rows{
    background-color: #fff;
    border-radius: 10px;
}
.signup_container h2{
    text-decoration-color: linear-gradient(to right, #3931af, #00c6ff);  
}

